
.cc1 {
 
  padding: 50px;
  margin-top: 5em;
  text-align: left;
}
body {
  box-sizing: border-box;
  height:auto;
}
.row {

  width: auto;
  height: auto;
}

.cc2 {

  padding: 30px;
  padding-left: 5px;
  margin-top: 5em;
}

.row-container {
  margin-top: 10rem;
}


@media (max-width: 480px) {
  body {
    text-align: center;
  }
  .cc1 {
    /* border: 1px solid black; */
    text-align: center;
  
    margin: 0 auto;
  }
  
  .cc2 {
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 0;
  }
  .row-container {
    margin-top: 200px;
   
    width: 700px;
    text-align: center;
  }
}

