.slogan-blue {
    font-size: 72px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 105%;
    color: rgba(29, 33, 78, 1);
    width: 693px;
    word-wrap: break-word;
  }
  
  .slogan-green {
    color: rgba(4, 215, 162, 1);
  }