.slogan-blue {
    font-size: 3rem;
    margin-left:2.4rem;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 105%;
    color: rgba(29, 33, 78, 1);
    width: 20rem;
    word-wrap: break-word;
    font-weight:bold ;
  }
  
  .slogan-green {
    color: rgba(4, 215, 162, 1);
  }

  @media (min-width:1025px) {
   .slogan-blue {
    font-size: 5rem;
     width:44rem
   }
}