
.NavBar{
    position: fixed;
    top: 50%;

}

.Slogan{
    position: absolute;
    top: 30%;
    left: 5%;
}
.slogan-div {
    margin: 0 auto;
}
.c1 {
    margin-top: 400px ;
    text-align: center;
}
body {
    position: relative;
}

.circle {
    position: fixed;
    top: 30%;
    transform: scale(2);
}
.Man, .wave {
    display: none;
}

@media (min-width:1025px) {
    .c1 {
        margin-top: 200px ;
        margin-left:100px;
        text-align: center;
    }
    .row {
         width: 700px;
     }
    
     .Man {
         display:inline-block;
         position: absolute;
         z-index: 3000;
         top: 1rem;
         right: 8rem;
        
     }
     .wave {
         display:inline-block;
         position: absolute;
         z-index: -3000;
         opacity:.5;
         top: 0;
         right:0;
     }
}