// $spacers: (
//   0: 0,
//   1: ($spacer * .25),
//   2: ($spacer * .5),
//   3: $spacer,
//   4: ($spacer * 1.5),
//   5: ($spacer * 6),
//   6: ($spacer * 5)
// );
.companyLogo {
 padding: 10px !important;
}


.flex-nav {
    display: flex;
    justify-content:flex-end;
}
@media (min-width:480px)  {
    .nav-test {
        display: none !important;
    }
}
